.main {
   &_slidercontainer {
      width: 100%;
      outline: none;

      @include point-down(small) {
         margin: 2.8125rem 0 3.75rem 0;
      }

      .slider {
         appearance: none;
         width: 100%;
         height: 8px;
         background-color: $fullSliderBar;
         border-radius: 4px;
         color: black;

         &::-webkit-slider-thumb {
            appearance: none;
            background: url("/images/icon-slider.svg");
            width: 40px;
            height: 40px;
            cursor: pointer;
            padding: 15px 9px;
            background-color: $sliderBackround;
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0 20px 30px $fullSliderBar;
         }
      }
   }

   &_switch {
      width: 44px;
      height: 22px;
      background-color: $toggleBackground;
      border-radius: 36px;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      &.active{
         background-color: $discountText;
      }

      &:hover {
         background-color: $fullSliderBar;
      }

      .inner-circle {
         width: 16px;
         height: 16px;
         background-color: $white;
         border-radius: 50%;
         margin: 3px 4px;
         transition: all 300ms ease-in-out;
      }
      &.active > .inner-circle {
         margin-left: 24px;
      }

      @include point-down(small) {
         margin: 0 10px;
      }
   }
}
