//colors
$fullSliderBar: hsl(174, 77%, 80%);
$sliderBackround: hsl(174, 86%, 45%);
$emptySliderBar: hsl(224, 65%, 95%);
$discountBackground: hsl(14, 92%, 95%);
$discountText: hsl(15, 100%, 70%);
$toggleBackground: hsl(223, 50%, 87%);
$CtaText: hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$mainBackground: hsl(230, 100%, 99%);
$Text: hsl(225, 20%, 60%);
$CtaBackground: hsl(227, 35%, 25%);
